<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>LCL</title>
  <meta name="author" content="{{ site.author | escape }}">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <!-- open graph stuff --> 
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title | escape }}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:image" content="{{ "/images/lcl-image.png" | relative_url }}">
  <meta property="twitter:image" content="{{ "/images/lcl-square.png" | relative_url }}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="689">
  <meta property="og:image:height" content="414">
  
  <link rel="icon" href="{{ "/images/favicon.ico" | relative_url }}">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <!-- Font --> 
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <!-- Transifex Live -->
  <!--script type="text/javascript">window.liveSettings={api_key:"ddd65cab1c8f4bf0924ad1a18534da75"}</script>
  <script type="text/javascript" src="//cdn.transifex.com/live.js"></script-->
  <!-- Crowdin -->
  <style>.js-proxy-blur {filter: blur(5px);}</style>
  <script src="https://proxy-translator.app.crowdin.net/assets/proxy-translator.js"></script>
  <script>
    window.proxyTranslator.init({
      baseUrl: "https://tarmelop.github.io/lcl-stage/",
      appUrl: "https://proxy-translator.app.crowdin.net",
      valuesParams: "U2FsdGVkX18ygBJHb6rwKM381WSyH1k72omLn2ttcG7C7CJd/0HfvqP1O+hrj/Ded7PTsN0sUEihuIFmyqyCqgK16eY7roQR6eMH7kSUhinYkhbyqTF54Ne1ayVJozIe",
      distributionBaseUrl: "https://distributions.crowdin.net",
      filePath: "/lcl-stage.json",
      distribution: "8177138881575de558c16b7mup8",
      languagesData: {"fr":{"code":"fr","name":"French","twoLettersCode":"fr"},"es-ES":{"code":"es-ES","name":"Spanish","twoLettersCode":"es"},"ar":{"code":"ar","name":"Arabic","twoLettersCode":"ar"},"it":{"code":"it","name":"Italian","twoLettersCode":"it"},"ja":{"code":"ja","name":"Japanese","twoLettersCode":"ja"},"tr":{"code":"tr","name":"Turkish","twoLettersCode":"tr"},"pt-BR":{"code":"pt-BR","name":"Portuguese, Brazilian","twoLettersCode":"pt"},"en":{"code":"en","name":"English","twoLettersCode":"en"}},
      defaultLanguage: "en",
      defaultLanguageTitle: "English",
      languageDetectType: "default",
      poweredBy: true,
    });
  </script>
    <!-- JQuery -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  {% include google-analytics.html %}
</head>
